/* fixed column */
.container {
  max-width: none !important;
  width: 970px;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 10px 5px;
}

.text-ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li.active {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li:active, .sidebar-nav li:focus {
  text-decoration: none;
}
.sidebar-navsidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  .sidebar-nav.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}